*{
	box-sizing:border-box;
}

header{
    text-align:justify;
    margin-left:50px;
    margin-bottom:50px;
}

header #photo-container_responsive{
    display:none;
}

body {
    display:flex;
    width:1000px;
    margin:auto;
    font-family:calibri;
    font-size:18px;
    border:0.5px grey solid;
    max-width:100%;
    overflow-x:hidden; 
}   

aside {
    background-color:#508CA4;
    width:35%;
    position:relative;
} 

.underline
{
    border-bottom:2px solid #01579B;
}


.date1{
    list-style-type: circle;
    width:20%;
}

#photo-container{
	width:100%;
	height:250px;
	display:flex;
	justify-content:center;
	align-items:center;
    margin:0;
    padding:0;
}
#loisirs{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
}

#loisirs #sport{
    padding:20px 0;
    display:flex;
    justify-content:center;
}

#loisirs #sport .fas{
    display:block;
    margin:0 0.5em;
    border: 1px solid black;
    border-radius:50%;
    height:3em;
    width:3em;
    text-align:center;
    line-height:3em;
}

#loisirs #sport .fas::before{
    font-size:2.2em;
}

#photo-container img{
    width:40%;
}
#photo-container img, #photo-container_responsive img{
	border-radius:50%;
}

aside h3{
	width:100%;
	text-align:center;
	background-color:#061F12;
	padding-top:3px;
	padding-bottom:3px;
	margin:0;
    font-size:1.5em;
    color:#508CA4;

}
.textes{
    display:flex;
}


#contact #contact_info{
    margin-left:20px;
}

#contact div h4, #contact div p{
    margin:0;
}

#contact #contact_info div {
    margin:1em 0;
}

#contact div h4{
    font-size:1em;
    font-weight:normal;
}
.titre{

    border-bottom: 2px solid #006080;
    width:90%;
    margin:auto;
    padding-bottom: 10px;
    font-size:1.1em;

}

.titre h3{
    display:flex;
}

.titre h3 i{
    display:block;
    margin-right:10px;
}
#nomprenom{
    margin-bottom: 0;
    font-size:3em;
}
#couleurprenom{
    color:#01579B;

}
.nom{
    margin-left:10px;
}
h3{
    margin-left:10px;
    margin-bottom:0;
}
h2{
    font-size:2em;
    margin:0;
}
article
{
 display:flex;

}
ul
{
	width:20%;
	height:100px;
    display:flex;
    margin-bottom:0px;
    text-align:auto;
    max-width: max-content;


}
p{
    font-size:0.8em
      
 }
h5{
    height:30px 

}
.texte{
	   padding:0px 35px 0px 80px;
 }
main h4 {
	margin-top:12px;
    font-size:1.2em;
    margin-bottom:20px;
}
li{
	font-size:1rem     ;
	width:100px;
}
h5 { 
    margin-top:3px;
    margin-bottom:3px;
}
.texte p{
    margin-top:0.2px;
    margin-bottom:3px;  
}
#propos {
    padding:0 15px;
    text-align:justify;
}

.dorian{
    margin-left:100px;
}
.police{
    padding-left:50px;
}

@media screen and (max-width:1000px) {
    body{
        flex-wrap:wrap;
        width:initial;
        border:initial;
    }
    main{
        max-width:100%;
    }
    aside{
        width:100%;
        order:2;
        min-height:500px;
    }

    aside #photo-container{
        display:none;
    }
    #loisirs{
        position:static;
    }
    #contact{
        text-align:center;
    }
    #propos{
        padding:0 50px;
        text-align:justify; 
    }
    .textes{
     flex-direction:column;
     text-align:center;
     margin: auto;

    }
    .police,.dorian{
        margin:auto;
        padding:0;
        width:auto;
    }
 
    main{
        order:1;
    }

    header{
        display:flex;
        justify-content: space-around;
        align-items:center;
        margin-left:0;
        padding-top:20px;
    }

    header div h1{
        margin-top:0;
    }

    header #photo-container_responsive{
        display:block;
        margin:0;
    }
    ul {
        font-size:0.8em;
    }
    

}
@media screen and (max-width:450px)
{
    img{
        display: none;

    }
    .petitresponsive
    {
      text-align:center;
    }
    aside{
        width:100%;
        text-align:center;
        display: none;
    }

}